@import url("../styles/utils/variables.css");

.kasa_banner {
  justify-content: space-between;
  margin-top: 40px;
  display: flex;
}

/****LOGO****/
.kasa_logo {
  margin-left: 100px;
}

/****NAVBARRE****/
.kasa_navBarre {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.kasa_navBarre a {
  font-weight: 500;
  font-size: 24px;
  color: #ff6060;
}

.list_link {
  display: flex;
  flex-direction: row;
}

.kasa_link:hover:not(.active) {
  text-decoration: underline;
}

.linkMargin {
  margin-right: 54px;
}

.active {
  text-decoration: underline;
}
