/********DIMENSION IMG*********/
.slider {
  margin: 0 100px;
}

.slide_img {
  border-radius: 25px;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

/*********POSITION VECTOR***********/
.slide {
  margin-top: 25px;
  position: relative;
}

.vector_left {
  position: absolute;
  cursor: pointer;
  top: 160px;
  left: 116px;
}

.vector_right {
  position: absolute;
  cursor: pointer;
  top: 160px;
  right: 116px;
}

/*********POSITION NOMBRE IMAGE***********/
.slider_number {
  font-weight: 500;
  font-size: 18px;
}
